<!-- form_forにインスタンス変数を書いた空のモデルを渡すと、フォーム(new)とListモデルが関連づけられます。
new.html.erbファイルは、データの入力のみを担当-->

<%= form_for(@list, url: '/todolists') do |f| %> <!-- 空のモデル(@list)をブロック変数fに渡している -->
    <!-- doとendの間に、「フォームオブジェクト」を作成 -->
    <!-- <.%で始まるタグは、Rubyで使われるタグ -->
    <h4>タイトル</h4>
    <%= f.text_field :title %> <!-- lists.rb(テーブルの設計図)に記入したカラムtitle -->

    <h4>本文</h4>
    <%= f.text_area :body %> <!-- lists.rb(テーブルの設計図)に記入したカラムbody -->

    <h4>画像</h4>
    <%= f.attachment_field :image %>

    <%= f.submit '投稿' %> <!-- 「投稿」ボタンを押すと、ルーティングで設定したとおり、todolistsコントローラのcreateアクションが呼び出される。 -->

<% end %>